<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="kits.vdroid"
      android:versionName="1.1.1" android:versionCode="6"
      
      >
    <application android:label="@string/app_name" android:debuggable="false" android:icon="@drawable/vdricon">
        <activity android:label="@string/app_name" android:name="selectvdr">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <activity android:launchMode="standard" android:label="@string/app_name" android:name="add_new_server">
</activity>
<activity android:name="del_servers"></activity>
<activity android:name="vdr_show" android:permission="android.permission.INTERNET"></activity>
<activity android:name="vdr_show_channels"></activity>
<activity android:name="vdr_stream_channel" android:screenOrientation="landscape"></activity>
<activity android:name="vdr_info"></activity>
<activity android:name="vdr_recordings"></activity>
<activity android:name="vdr_programm"></activity>
<activity android:name="vdr_timers"></activity>
<activity android:name="TimerInfo"></activity>
<activity android:name="vdr_remote"></activity>
</application>
<uses-sdk android:targetSdkVersion="7"
          android:minSdkVersion="4"/>


<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 